<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de evento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="fixed">Nome:</ion-label>
    <ion-input [(ngModel)]="evento.nome" #nome="ngModel" name="nome" value="{{evento.nome}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Descrição:</ion-label>
    <ion-input [(ngModel)]="evento.descricao" #descricao="ngModel" name="descricao" value="{{evento.descricao}}">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-grid align-items-start>
      <ion-row align-items-start>
        <ion-col>
          <ion-label position="fixed">Data/Horario:</ion-label>
        </ion-col>
        <ion-col>
          <ion-datetime displayFormat="DD/MM/YYYY" min="2019" max="{{limite()}}" value="{{evento.data}}"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="evento.hora" type="Time" #descricao="ngModel" name="hora" value="{{evento.hora}}">
          </ion-input>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">local:</ion-label>
    <ion-input [(ngModel)]="evento.local" #descricao="ngModel" name="local" value="{{evento.local}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Lotação:</ion-label>
    <ion-input [(ngModel)]="evento.qtd_ingresso" #descricao="ngModel" name="qtd_ingresso"
      value="{{evento.qtd_ingresso}}">
    </ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>Selecione as salas do evento</ion-list-header>
    <ion-item>
      <ion-label>Salas</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" [compareWith]="compareWith" multiple="true"
        cancelText="Cancelar" okText="Salvar">
        <ion-select-option value="{{sala.id}}" *ngFor="let sala of listaSalas" (click)="AddRemoverSala(sala)">
          {{sala.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div text-center>
    <ion-grid align-items-center>
      <ion-row>
        <ion-col>
          <ion-button fill="outline" (click)="excluir()">Excluir Evento</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="outline" (click)="salvar()">Salvar Evento</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>