<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de evento</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="outer-content">
<ion-list>
  <ion-grid fixed>
    <ion-row align-items-stretch>
      <ion-col size="12" size-md="6">
        <!--*ngFor="let speaker of speakers"-->
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none">
              <img class="imagem" src="../../assets/teste/elephant.jpg" alt="teste">
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item>
                <!--routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}"-->
                <strong>Data: <br /></strong>
                <ion-input placeholder="Insira a data do evento"></ion-input>
              </ion-item>
              <ion-item>
                <!--*ngFor="let session of speaker.sessions" routerLink="/app/tabs/speakers/session/{{session.id}}"-->
                <strong>Titulo: <br /></strong>
                <ion-input placeholder="Insira o nome do evento"></ion-input>
              </ion-item>

              <ion-item>
                <!--routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}"-->
                <strong>Descrição: <br /></strong>
                <ion-input placeholder="Descreva seu evento"></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <ion-row no-padding justify-content-center>
            <ion-col text-left size="4">
              <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(speaker)">
                Salvar
              </ion-button>
            </ion-col>
          <ion-col text-right size="4">
                <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(speaker)">
                 Cancelar
                </ion-button>
              </ion-col>
            
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
</ion-content>
 