<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Seja bem vindo ao BuyTicket!</h1>
    </ion-slide>
    <ion-slide>
      <h1>Antes de utilizar o aplicativo, certifique-se de cadastrar a porta e o ip na tela de configurações.</h1>
    </ion-slide>
    <ion-slide>
      <h1>A seguir, cadastre o evento que desejas realizar.</h1>
    </ion-slide>
    <ion-slide>
        <h1>Continuando, cadastre a sala em que tal evento será realizado e quais os setores de tal sala.</h1>
      </ion-slide>
      <ion-slide>
          <h1>Finalmente, cadastre os assentos de cada setor e podemos começar a vender ingressos!</h1>
        </ion-slide>
  </ion-slides>
</div>
</ion-content>
