<ion-header>
  <ion-toolbar>
    <ion-title>Finalizar venda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="fixed">Acentos:</ion-label>
    <ion-input> A1 - A3 - A4 - A5</ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="fixed">Inteira:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Meia:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Inteira:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-title>Total: R$ 30,00 </ion-title>
        <ion-button color="primary">Finalizar</ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-content>