<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list *ngFor="let evento of listaEventos">
    <ion-card>
      <ion-item>
        <ion-icon name="md-cash" slot="start"></ion-icon>
        <ion-label>{{evento.nome}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="vender(evento.id)">Vender</ion-button>
      </ion-item>
      <ion-card-content>
          {{evento.descricao}}
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>