.assento{
    height: 60px;
 }
.primary{
   background-color: #3880ff
}

.secondary{
   background-color:#0cd1e8
}

.tertiary{
   background-color:#7044ff
}
.success{
   background-color:#10dc60
}
.danger{
   background-color:#f04141
}
.vendido{
   background-color:#0b0e0b
}
 
  .app-assento { 
     text-align: center;     
     font-size: 7px;
     width: 30px;
     height: 30px;
     margin: 2%;
     border-radius: 50%;
    //  background-color: var(--color-assento);
     left: 0;
     top: 0;
     left: 0;
     cursor: pointer;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     outline: none;         
     
    }
 
 