<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <ion-item>
    <ion-label>Nome evento</ion-label>
    <ion-label>Descrição</ion-label>
    <ion-label>Data</ion-label>    
    <ion-label>Hora</ion-label>    
    <ion-label>Quantidade de ingressos</ion-label>
  </ion-item>
  <ion-list *ngFor="let e of eventos">
    <ion-item (click)="openEvento(e.id)">
      <ion-label >{{e.nome}}</ion-label>
      <ion-label >{{e.descricao}}</ion-label>
      <ion-label >{{e.data}}</ion-label>
      <ion-label >{{e.hora}}</ion-label>
      <ion-label >{{e.qtd_ingresso}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openEvento(0)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>