<ion-header>
  <ion-toolbar>
    <ion-title>Setor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <Form novalidate>
      <ion-item>
        <!-- <ion-label position="fixed">Código:</ion-label>
        <ion-input readonly [(ngModel)]="setor.codigo" #codigo="ngModel" name="codigo"></ion-input>-->
        <ion-label position="round">Nome:</ion-label>
        <ion-input [(ngModel)]="setor.nome" #nome="ngModel" name="nome"></ion-input>
        <ion-label position="round">Descriçao:</ion-label>
        <ion-input [(ngModel)]="setor.descricao" #descricao="ngModel" name="descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label vertical="bottom" position="flating">Fileiras:</ion-label>
        <ion-input type="number" [(ngModel)]="setor.qtd_fileira" name="qtd_fileira" #qtd_fileira="ngModel"></ion-input>
        <ion-label position="flating">Colunas:</ion-label>
        <ion-input type="number" [(ngModel)]="setor.qtd_coluna" name="qtd_coluna" #qtd_coluna="ngModel"></ion-input>
        <ion-button (click)="definirAcentos()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>>
      </ion-item>

      <div text-center vertical="bottom" style="margin-top: 1%;">
        <ion-button fill="outline" (click)="excluir()">
          <ion-icon name="md-trash"></ion-icon>Excluir
        </ion-button>
        <ion-button fill="outline" (click)="salvar()">
          <ion-icon name="save"></ion-icon>Salvar
        </ion-button>
      </div>
    </Form>
    <div>
      <ion-grid>
        <ion-row style="display: grid;">
          <ion-radio-group text-center>
            <ion-col style=" width: 20%;">
              <ion-label color="{{cor[0]}}">Normal </ion-label>
              <ion-radio color="{{cor[0]}}" (click)='setTipoAtual(0)'></ion-radio>
            </ion-col>
            <ion-col>
              <ion-label color="{{cor[1]}}">Reservado </ion-label>
              <ion-radio color="{{cor[1]}}" (click)='setTipoAtual(1)'></ion-radio>
            </ion-col>
            <ion-col>
              <ion-label color="{{cor[2]}}">Especial </ion-label>
              <ion-radio color="{{cor[2]}}" (click)='setTipoAtual(2)'></ion-radio>
            </ion-col>
            <ion-col>
              <ion-label color="{{cor[3]}}">Outro </ion-label>
              <ion-radio color="{{cor[3]}}" (click)='setTipoAtual(3)'></ion-radio>
            </ion-col>
          </ion-radio-group>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid>
      <ion-row *ngFor="let row of acentos">
        <ion-col *ngFor="let acento of row" style="width: 1%; height: 2%;">
          <ion-checkbox [(ngModel)]="acento.ativo" color="{{cor[acento.tipo]}}" (click)='mudarTipo(acento)'>
          </ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>