<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{acao}}">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="fixed">Código:</ion-label>
    <ion-input readonly>{{sala.codigo}}</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nome:</ion-label>
    <ion-input value="{{sala.nome}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descrição:</ion-label>
    <ion-input value="{{sala.descricao}}"></ion-input>
  </ion-item>

  <div text-center>
    <ion-grid align-items-center>
      <ion-row>
        <ion-col>
          <ion-button fill="outline" (click)="CriarSetor()">Adicionar setor</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="outline" (click)="excluir()">Excluir sala</ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="outline" (click)="salvar()">Salvar sala</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item>
    <ion-label position="center">Setores</ion-label>
  </ion-item>
  <ion-list *ngFor="let setor of setores">
    <ion-item (click)="editarSetor(setor)">
      <ion-label>{{setor.nome}}</ion-label>
      <ion-label>{{setor.descricao}}</ion-label>
      <ion-label>{{setor.qtd_fileira}} x {{setor.qtd_colunas}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>